<?xml version="1.0" encoding="UTF-8"?>
<!--https://www.dev2qa.com/testng-report-example/-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testAll" parallel="none">
    <test name="testingChrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="webdriver.DemoQANavigationChromeTest" />
            <!--   <class name="webdriver.DemoQAScrollingChrome" />
               <class name="webdriver.DemoQASelectChrome"/>
               <class name="webdriver.DemoQAWaitChrome"/> -->
           </classes>
       </test>

    <test name="testingFireFox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="webdriver.AutomationpracticeFireFoxTests" />
            <class name="webdriver.AutomationGetChromeTests" />
        </classes>
    </test>

   </suite>